/* Estilo para o handle de redimensionamento no canto sudeste (inferior direito) */

  /* Estilo para os outros handles de redimensionamento (ex: norte, sul, leste, oeste) */
  .react-grid-item{
    @apply hover:border-primary border-transparent border !important;
  }
  .react-grid-placeholder {
   @apply bg-primary  !important;

  }
  .react-grid-item:hover .react-resizable-handle {
    opacity: .2 !important;
  }
  .react-resizable-handle{
    background-image: none !important;
    opacity: 0 !important;

  }
  .react-resizable-handle-e, 
  .react-resizable-handle-w,
  .react-resizable-handle-n,
  .react-resizable-handle-s {
    @apply bg-primary size-2 !important;
    transform: rotate(0) !important
  }
  .react-resizable-handle-e{
    right: -5px !important;
    transform: translateY(-50%) !important;
    margin-top: 0 !important;
  }
  .react-resizable-handle-w{
    left: -5px !important;
    transform: translateY(-50%) !important;
    margin-top: 0 !important;
  }
  .react-resizable-handle-n{
    top: -5px !important;
    transform: translateX(-50%) !important;
    margin-left: 0 !important;
  }
  .react-resizable-handle-s{
    bottom: -5px !important;
    transform: translateX(-50%) !important;
    margin-left: 0 !important;
  }



  .react-resizable-handle-e::after, 
  .react-resizable-handle-w::after,
  .react-resizable-handle-n::after,
  .react-resizable-handle-s::after,
  .react-resizable-handle-ne::after,
  .react-resizable-handle-nw::after,
  .react-resizable-handle-sw::after,
  .react-resizable-handle::after
  {
    display: none !important;
  }


  /* Outros estilos para outros cantos (opcional) */


  .react-resizable-handle-se {
    @apply bg-primary size-2   !important  ; 
    bottom: -5px !important;
    right: -5px !important;
    cursor: se-resize;          /* Mantém o cursor correto */
  }
  .react-resizable-handle-se::after {
    display: none !important;
  }
  .react-resizable-handle-ne{
    top: -5px !important;
    right: -5px !important;
    
  }
  .react-resizable-handle-nw{
    top: -5px !important;
    left: -5px !important;
  }
  .react-resizable-handle-sw{
    bottom: -5px !important;
    left: -5px !important;
  }
 
  .react-resizable-handle-ne,
  .react-resizable-handle-nw,
  .react-resizable-handle-sw {
    @apply bg-primary size-2   !important  ; 
    cursor: pointer;
  }
  