@import "./_style/fonts.css";
@import "./_style/heading.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 242 100% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 92.99% 56.11%;
    --destructive-foreground: 210 40% 98%;
    --ring: 220.67 97.83% 36.08%;
    --radius: 0.5rem;

    --primary-rgb: 153, 153, 255;

    --muted-foreground-rgb: 100, 116, 139;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 225.45 71.22% 72.75%;
    --primary-foreground: 234.55 17.46% 12.35%;
    --secondary: 225.45 8.83% 84.64%;
    --secondary-foreground: 234.55 17.46% 12.35%;
    --accent: 234.55 17.83% 9.47%;
    --accent-foreground: 0 0% 82.75%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

span, p{
  padding: 0 ;
  margin: 0 ;
  line-height: 1.4;
}
em{
  padding-right: 4px ;
}


.disable-click {
  pointer-events: none;
  cursor: default;
}

@layer base {
  htm,
  body {
    @apply bg-[#F2F2F7] text-foreground;
  }
}
/* Esconde o scrollbar por padrão */
.scrollbar-container {
  overflow-y: auto;
  max-height: 400px;
}

.scrollbar-content {
  transition: opacity 0.3s ease;
}

.scrollbar-visible::-webkit-scrollbar {
  opacity: 1;
}

.scrollbar-content::-webkit-scrollbar {
  height: 8px;
  opacity: 0; /* Inicialmente invisível */
}

.scrollbar-content::-webkit-scrollbar-track {
  background-color: #e0b3b389;
  border-radius: 4px;
}

.scrollbar-content::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scrollbar-content::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}


/* .slick-list {
	@apply h-full  flex items-center p-0    !important;
}
.slick-slider {
	height: 100%;
	@apply pb-16 !important;
}
.slick-track {
	@apply flex items-center  gap-3 !important;
}
.slick-dots {
	@apply bottom-0 !important;
} */

.title > * {
  font-size: 2.75rem;
  line-height: 1.4;
}

.sub > * {
  font-size: 1.75rem;
  line-height: 1.3;
}
.ql-font-Geist {
  font-family: "Geist";
}

/* Themes */
.bolinha {
  background-image: radial-gradient(circle, #a5a5a55b 10%, transparent 10.5%);
  background-size: 20px 20px; /* Tamanho das bolinhas e espaçamento */
}

.cosmic {
  background-image: radial-gradient(circle at 20% 20%, #4b0082 0%, #000080 50%, #000000 100%);
  background-size: cover;
}

.pulses {
  background: conic-gradient(at 10% 50%, #0000 75%, #47142e38 0),
    conic-gradient(at 10% 50%, #0000 75%, #47142e38 0) calc(1 * 14px) calc(3 * 14px),
    conic-gradient(at 10% 50%, #0000 75%, #47142e38 0) calc(2 * 14px) calc(1 * 14px),
    conic-gradient(at 10% 50%, #0000 75%, #47142e38 0) calc(3 * 14px) calc(4 * 14px),
    conic-gradient(at 10% 50%, #0000 75%, #47142e38 0) calc(4 * 14px) calc(2 * 14px),
    conic-gradient(at 50% 10%, #0000 75%, #47142e38 0) 0 calc(4 * 14px),
    conic-gradient(at 50% 10%, #0000 75%, #47142e38 0) calc(1 * 14px) calc(2 * 14px),
    conic-gradient(at 50% 10%, #0000 75%, #47142e38 0) calc(2 * 14px) 0,
    conic-gradient(at 50% 10%, #0000 75%, #47142e38 0) calc(3 * 14px) calc(3 * 14px),
    conic-gradient(at 50% 10%, #0000 75%, #47142e38 0) calc(4 * 14px) calc(1 * 14px), transparent;
  background-size: 70px 70px;
}

.nested {
  background: repeating-linear-gradient(
      45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #474aff2f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #474aff2f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #474aff2f 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #474aff2f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #474aff2f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #474aff2f 0 calc(300% / 13)
      )
      33px 33px,
    repeating-linear-gradient(
      -45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #474aff2f 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #474aff2f 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #474aff2f 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        -45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #474aff2f 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #474aff2f 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #474aff2f 0 calc(300% / 13)
      )
      33px 33px transparent;
  background-size: 66px 66px;
}

.transtion-gradient {
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.ProseMirror, .swiper-wrapper, .swiper{
  position: static !important;
}